<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/home" class="navbar-brand">RecordBook</a>
    </div>
    <div class="flex1 dropdown">
      <div class="flex2">
        <div>
          <p class="navbar-text">Signed in as <%=user.name %></p>
        </div>
        <span id="second">
          <img src="<%= user.avatar %>" alt="user_avatar" />
        </span>
      </div>
      <div class="dropdown-content">
        <a href="/profile/?id=<%=user.id%>">Profile</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
<script>
  var button = document.querySelector(".dropdown");
  button.addEventListener("click", function (e) {
    var a = document.querySelector(".dropdown-content").style;
    a.display = a.display == "block" ? "none" : "block";
    var b = document.querySelector(".flex2").style;
    b.boxShadow = b.backgroundColor =
      b.backgroundColor == "white" ? "#f8f8f8" : "white";
  });
</script>
