<!DOCTYPE html>
<html>

<head>
    <title>Record Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assest/css/login.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>

<body>
    <div class="container-fluid">
        <div id="cust"><img src="/assest/image/Recordbook.png" alt="logo"></div>
        <div class="btn-show">
            <a class="btn-slide service_messenger" href="/auth/google">
                <span class="circle">
                    <i aria-hidden="true" class="fa fa-google"></i>
                </span>
                <span class="title">
                    Sign up / Login with Gmail
                </span>
                <span class="title-hover"></span>
            </a>
        </div>
    </div>
    <script src="/assest/js/login.js"></script>
<body>
</html>